<!DOCTYPE html>
<html>
<head>
	<title>Admin Profile</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="refresh" content ="5">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<section class="header">
		<h1>
			ADMIN
		</h1>
		<p><a href="logout">logout</a></p>
	</section>

	<section class="container">
		<ul>
			<li><a href="#" style="margin-left: -35px;">Profile</a></li>
			<li>
				<div class="dropdown">
					<button class="dropbtn">Education</button>
					<div class="dropdown-content">
						<a href="admineduaddview">Add & View Education</a>
						<a href="admineduupdatedelete">Update & Delete Education</a>
						
					</div>
				</div>
			</li>
			<li><a href="#">setter</a></li>
			<li>
				<div class="dropdown">
					<button class="dropbtn">Category</button>
					<div class="dropdown-content">
						<a href="admincataddview">Add & View Category</a>
						<a href="adminaddviewsubcat">Add SubCategory</a>
						<a href="adminsubcatview">View SubCategory</a>
						<a href="admincatupdatedelete">Update & Delete Category</a>
					</div>
				</div>	
			</li>
			<li style="border-right-style: none;"><a href="#">Setting</a></li>
		</ul>
	</section>

	<section class="admineduaddview">
		<div class="eduadd">
			<label>Education Name:</label>
			<p><input type="text" name="" placeholder="Please input only Education name.."></p>
			<button>Update</button>
		</div>
	</section>

</body>
</html>