

<!DOCTYPE html>
<html>
<head>
    <title>Vector Online Judge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="logo">
            <a href="index.html"><img src="/images/logo.jpg" /></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">login</a></li>
                <li><a href="signup.ejs" onclick="">register</a></li>
                <li><a href="forum.html">forum</a></li>
                <li><a href="academic.html">academic</a></li>
                <li><a href="contests.html">contests</a></li>
                <li><a href="problem.html">problems</a></li>
                <li><a href="rank.html">ranks</a></li>
            </ul>
        </div>
    </div>


    
<!-- main content -->
<div class="content">
    
        <div class="maincon">
            <div class="mlogo">
                <h1 class="v"><a href="">Vector</a></h1>
                <h2 class="o"><a href="">online judge</a></h2>
                <h3 class="p"><a href="">problems & contests</a></h3>
                <p>Sign in</p>
            </div>
    
            <div class="lgfm">
                <form action="/login" method="post">
                  <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>
    
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                     
                     <label>
                      <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                    <button type="submit">Login</button>
                  </div>
    
                <div class="slgfm">
                    <ul>
                        <li><a href="">facebook</a></li>
                        <li><a href="">google</a></li>
                        
                    </ul>
                </div>
    
                </form>
            </div>
        <div class="or">
            <h4>OR</h4>
            <p>New user<a href="signup">sign up</a>here</p>
        </div>
           
        </div>
    </div>
   

<div class="footer">
		<div class="copyr">
			<p>&copy 2019 vector online judge</p>
		</div>

		<div class="flists">
			<ul>
				<li><a href="#">Cookies</a></li><span> | </span>
				<li><a href="#">Privacy</a></li><span> | </span>
				<li><a href="#">Terms & Conditions</a></li><span> | </span>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>

		<div class="vers">
			<p>Version 5.7.0.220919</p> 
		</div>
	</div>
</body>
</html>

